@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0400..700;1,400..700&display=swap");

.navButton {
  font-family: "Cabin", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.navbar {
  margin: -1rem 1.5rem;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgba(255, 255, 255, 0.407); */
}

.logo {
  width: 450px;
  height: auto;
  transition: filter 0.4s, color 0.4s;
  color: currentColor;
}

.navbar .logo:hover {
  filter: hue-rotate(180deg);
  color: #ab1d1d;
}

.linksContainer {
  display: flex;
}

.navButton {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.7rem;
  font-weight: bold;

  color: #253d5f;
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: color 0.3s; /* Add a transition for smooth color change */
}

.navButton:hover {
  /* background-color: #3578c7;*/
  color: #ab1d1d;
}
