.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  color: rgb(150, 110, 110);
  height: 5rem;
}

.logo {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.logo img {
  width: 150px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Add spacing between logo and buttons */
  background-color: transparent;
}

.buttons button {
  margin-left: 10px; /* Add spacing between buttons */
}

.buttons button:first-child {
  margin-left: 0; /* Remove margin from the first button */
}
