.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  width: 100px;
  height: auto;
}

.linksContainer {
  display: flex;
}

.navButton {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #4a90e2;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.navButton:hover {
  background-color: #3578c7;
}
