body {
  margin: 0;
  padding: 0;
  top: 10rem;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.searchbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center top; /* Adjust background position to overflow at the top */
  min-height: 100vh;
}

.image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  height: max-content;
  z-index: 5;
  top: 3rem; /* Move the picture to the top by about 10rem */
}

.searchForm {
  width: 75%;
  margin: 0 auto;
  padding: 1rem;
  background-color: #a6a09fa8;
  border-radius: 2rem;
  z-index: 10;
}

.searchInputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchInput {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  outline: none;
}

.label {
  margin: 0 0.5rem;
}

.datePicker {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  outline: none;
}

.dateSeparator {
  margin: 0 0.5rem;
}

.searchButton {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #253d5f;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.searchButton:hover {
  /* background-color: #3578c7; */
  color: #ab1d1d;
}
